// teams styles
.teams{
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 10px 20px;
  &__item{
    position: relative;
    width: 20%;
    height: 100%;
   
    // max-height: 355px;
    color: $c-white;
    
    padding: 0 5px;
    margin: 0px 0;
    overflow: hidden;
  }
  
  &__img{
    width: 100%;
    height: auto;
    // transform: scale(1.1,1.1);

  }
  &__text{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 35px;

  }
  &__wraper{
    position: absolute;
    // display: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: calc(100% - 10px);
    height: calc(100% - 7px);
    font-size: $fs-14;
    text-align: center;
    background: rgba($c-dark, $alpha: .5);

    opacity: 0;
    transition:  opacity .5s;
  }
  &__name{
    // font-size: $fs-1;
    transform: translateY(500%);
    transition:  transform .75s;
    
  }
  &__profession{
    // font-size: $fs-1;
    transform: translateY(500%);
    transition:  transform .75s;
    
  }
  &__person{  
    &:hover{
      & .teams__wraper{
        opacity: 1;
        &:hover{
            & .teams__name{
              transform: translateY(0);
            }
            & .teams__profession{
              transform: translateY(0);
            }
        }
      }
    }
  }
}
////////////////////////////////////
//Responsiwe
////////////////////////////////////

@media #{$desktop}{
  .teams{
    padding: 25px 0;
  }
}
@media #{$tablet}{
  .teams{
    padding: 15px 0  ;
    justify-content: center;
    &__item{
      width: 33.3%;
      display: none;
    }
    &__person{
    display: block;
    margin: 1px 0;
    }
  }
}
@media #{$phone}{
  .teams{
    &__item{
      width: 50%;
    }
  }
}