// button styles
.button{
  position: relative;
  // box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.35);  
  display: flex;
  justify-content: center;
  background: transparent;
  align-items: center;
  cursor: pointer;
  user-select: none;
  // position: relative;
  // z-index: 2;
  // background-color: $c-green;
  // transition: 0.3s;
  // outline: none;
  font-size: $fs-24;
  color: $c-dark-2;
  transition: color .5s;  
  // border: 0;
  &:hover{
    color: $c-white;
    & .button__item-one{
        top: 0;
        left: 0;
    }
    & .button__item-two{
        bottom: 0;
        left: 0;
    }
    & .button__item-three{
        top: 0;
        right: 0;
    }
    & .button__item-vour{
        bottom: 0;
        right: 0;
    }
  }

  &__items{
    border-radius: 500px;
    background: $c-white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    border: 2px solid $c-white;
    font-size: 24px;
    color: $c-green;
    transition: 0.5s;
    overflow: hidden;
    &-link{
    border: 2px solid $c-green;
    }
  }
  &__item{
  
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba($c-green, $alpha: .5);
    transition: 0.5s;
    z-index: -1;
    border-radius: 500px;
    &-one{
      top: -100%;
      left: -100%;
    }
    &-two{
      bottom: -100%;
      left: -100%;
    }
    &-three{
      top: -100%;
      right: -100%;

    }
    &-vour{
      bottom: -100%;
      right: -100%;

    }
  }
  &__text{
    letter-spacing:$ls-1-5;
    z-index: 1;
    display: block;
    font-family: $f-arial;
  }
 
  // &:hover:before, &:focus:before, &:active:before {
  //   top: -8px;
  //   right: -8px;
  //   bottom: -8px;
  //   left: -8px;
  //   border-color: $c-green ;
  //   transition: 0.3s;
  // }
}