// field styles
.field{
  // width: 45%;
  // height: 60px;
  position: relative;
  display: flex; 
  // align-items: ;
  flex-direction: column;
  cursor: pointer;
  &__input{
      // width: 100%;
      padding: 10px;
      border: transparent;
      outline: none;
      width: 380px;
      height: 35px;
      font-size: $fs-16;
      font-family: $f-arial;
      transition:  $t-normal;
      
      &:focus{
        border: 1px solid $c-green;
        transition:  $t-normal;
        
      }
      &.error{
        transition:  $t-normal;
        border: 2px solid red;
      }
  }
  *:-webkit-autofill,
  *:-webkit-autofill:hover,
  *:-webkit-autofill:focus,
  *:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
  }
  & label{
      cursor: pointer;
  }
  &__label{
      // position: absolute;
      letter-spacing: 1;
      color:$c-white;
      transition: .35s;
      font-size: $fs-16;
      cursor: pointer;
      padding-left: 5px;
      padding-bottom: 5px;
      // padding-right: 20px;
  }
}


////////////////////////////////////
//Responsiwe
////////////////////////////////////

@media #{$tablet}{
  .field{
      // align-items: flex-start;
    &__input{
      // width: 275px;
      font-size: $fs-14;
      
    }
    &__label{
        font-size: $fs-14;
        padding-bottom: 5px;

    }
  }
}

@media #{$phone}{
  .field{
    &__input{
      max-width: 300px;
    }
  }
}