mixin lang(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .lang(class=spec.__class)&attributes(attributes)
    .lang__dividing
    each item in spec.lang
      li.lang__item(data-lang-item=item.text)
        form(action="" method="post")
          input(name="next" type="hidden" value="")
          input(name="language" type="hidden" value="uk") 
          input(type="submit" value= item.text id='uk')
        

    
