body {
  color: $c-dark;
  background: $c-white;
  fill: $c-white;
  font-family: $f-arial;
  font-size: $fs-30;
  overflow-x: hidden;
  overflow-y: hidden;
  
  font-weight: $fw-semibold;
}


@keyframes slide {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
  0%,40% {
    animation-timing-function: ease-in
  }
  40% {
    transform: perspective(400px) rotateX(-20deg)
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotateX(-5deg)
  }
  to {
    transform: perspective(400px)
  }
}
.flipInX {
  backface-visibility: visible!important;
  animation-name: flipInX
}
