// header styles
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  &__top-line{
    height: 40px;
    width: 100%;
    background: $c-green;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11%;
    
  }
  &__container{
    padding: 20px 10% 20px 0;
    background-color:$c-white;
    width: 100%;
    position: relative;
    height: 75px;
    display: flex;
    justify-content:flex-end;
    border-bottom: 1px solid $c-green;
  }
  &__icon{
    fill:$c-white;
    display: none;
    &-phone{
      height: 15px;
      width: 15px;
      fill: $c-white;
      margin-right: 5px;
    }
  }
  &__phone{
    font-size: $fs-16;
    color: $c-white;
    transition: color $t-normal;
    &:hover{
    color:rgba($c-white, $alpha: .6);
    
    }
  }
}
////////////////////////////////////
//Responsiwe
////////////////////////////////////
@media #{$screen}{
  .header{
    &__top-line{
    padding-right: 5%;
    
    }
    &__container{
      padding-right: 0;
      justify-content: center;
    }
  }
}
@media #{$tablet}{
  .header{
    
    background-color: $c-green;
    // width: 45px;
    // height: 45px;
    padding: 0;
    background-color:transparent;  
    &__icon{
      display: block;
      position: absolute;
      left: 15px;top: 8px;
    }
    &__container{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 0;
      background-color:transparent;  
      
    }
    &--open{
      background-color:transparent !important;  
      border: 0;
    }
  }

}