@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(../fonts/MontserratAlternates-Regular.otf) format('opentype');
  }
  