include ./_modules/organisms/page-error/page-error
extends _layouts/base
block config
  //- Correct base url pathing for this page
  - var baseUrl = './'
  - var currentPage =  "error"

block header

block content
  +page-error
  
block footer
  