mixin new(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .new(class=spec.__class)&attributes(attributes)
    +img({__class:' new__img', img:'new.jpg', alt:'Lorem ipsum dolor sit amet'})
    .new__container
      h3.new__title Lorem ipsum dolor sit
      .new__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi atque reiciendis laboriosam expedita molestias quis quos eius. Ex, quos? Inventore deleniti ipsum sequi ipsam tempore error numquam minima magnam officia.
      +button({__class:' new__button', type:'link', link:'https://www.facebook.com/favorite.doctor/', text:'Learn More'})
